.button{
    background: rgba($color: #000, $alpha: 0);
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 8px;
    cursor: pointer;
    list-style-type: none;
    border: 2px solid #ffffff;
    font-size: 18px;
    &:hover{
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    &_main{
        margin: 0 auto;
        display: block;
        font-size: 19px;
        transition: all 0.3s;
        margin-top: 20px;
    }
    &_info{
        border: 2px solid #616366;
        color: #313234;
        margin-top: 20px;
        transition: 0.3s;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    }
    &_view{
       margin: 0 auto;
       text-align: center; 
    }

}