.container{
    padding: 0 80px;
    display: flex;
    justify-content: center;
    &__founder{
        margin: 0 auto;
        padding: 0 3rem;
        margin-top: 4rem;
        text-align: center;
        flex-direction: column;
    }
}