.container{
    padding: 0 80px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    &__founder{
        margin: 0 auto;
        padding: 0 3rem;
        margin-top: 4rem;
        text-align: center;
        flex-direction: column;
    }
    &__case{
        width: 96%;
        max-width: 117rem;
        margin: 0 auto;
    }
    &__cpu{
        width: 96%;
        max-width: 117rem;
        margin: 0 auto;
    }
    &__ram{
        width: 96%;
        max-width: 117rem;
        margin: 0 auto;
    }
    &__gpu{
        width: 96%;
        max-width: 117rem;
        margin: 0 auto;
    }
    &__profile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3rem auto;
    }
    &__img{
        width: 4rem;
        height: 4rem;
        background: url('@img/icon/user.png') no-repeat center center / cover;
        &_content{
            width: 100%;
            height: 35rem;
            background: url('@img/case/fullT.jpeg') no-repeat center center ;
        }
        &_content.two{
            background: url('@img/case/caseM.jpeg') no-repeat center center;
        }
        &_content.three{
            background: url('@img/case/FullTandMidT.jpeg') no-repeat center center / cover;
        }
        &_content.four{
            background: url('@img/case/MiniT.jpeg') no-repeat center center ;
        }
        
    }
    &__img{
        width: 4rem;
        height: 4rem;
        background: url('@img/icon/user.png') no-repeat center center / cover;
        &_cpu{
            width: 100%;
            height: 35rem;
            background: url('@img/cpu/cpu.png') no-repeat center center / cover;
        }
        &_cpu.two{
            background: url('@img/cpu/cpu2.jpg') no-repeat center center / cover;
        }
    }
    &__img{
        width: 4rem;
        height: 4rem;
        background: url('@img/icon/user.png') no-repeat center center / cover;
        &_ram{
            width: 100%;
            height: 35rem;
            background: url('@img/ram/ram.jpg') no-repeat center center / cover;
        }
    }
    &__img{
        width: 4rem;
        height: 4rem;
        background: url('@img/icon/user.png') no-repeat center center / cover;
        &_gpu{
            width: 100%;
            height: 35rem;
            background: url('@img/gpu/gpu.jpg') no-repeat center center / cover;
        }
    }

    &__card{
        cursor: pointer;
        transition: all .4 ease;
    }
    
}