*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    line-height: 1.5;
}
.case{
    &__wrapper{
        max-width: 1100px;
        margin: 40vh auto;
    }
    img{
        width: 100%;
        display: block;
    }
}
.img{
    &__display{
        overflow: hidden;
    }
    &__showcase{
        display: flex;
        width: 100%;
        transition: all 0.5 ease;
        img{
            min-width: 100%;
        }
    }
    &__select{
        display: flex;
    }
    &__item{
        margin: 0.3rem;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3){
            margin-right: 0;
        }
        &:hover{
            opacity: 0.8;
        }
        img{
            height: 25vh;
        }
    }
}
.product{
    &__content{
        padding: 2rem 1rem;
    }
    &__title{
        font-size: 3rem;
        text-transform: capitalize;
        font-weight: 700;
        position: relative;
        color: #12263a;
        margin: 1rem 0;
        &::after{
           content: "";
           position: absolute;
           left: 0;
           bottom: 0;
           height: 4px;
           width: 80px;
           background: #12263a; 
        }
    }
    &__link{
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.9rem;
        display: inline-block;
        margin-bottom: 0.5rem;
        background: #256eff;
        color: #fff;
        padding: 0 0.3rem;
        transition: all 0.5 ease;
        &:hover{
           opacity: 0.9; 
        }
    }
    &__rating{
        color: #ffc107;
        display: flex;
        img{
            width: 15px;
        }
        span{
            margin: 0 .2rem;
            font-weight: 600;
            color: #252525;
        }
    }
    &__price{
        margin: 1rem 0;
        font-size: 1rem;
        font-weight: 700;
        span{
            font-weight: 400;
        }
    }
    &__detail{
        h2{
            text-transform: capitalize;
            color: #12263a;
            padding-bottom: .6rem;
        }
        p{
            font-size: .9rem;
            padding: .3rem;
            opacity: .8;
        }
        ul{
            margin: 1rem 0;
            font-size: .9rem;
            li{
                margin: 0 ;
                list-style: none;
                background: url('@img/icon/pc-tower.png') left center no-repeat;
                background-size: 18px;
                padding-left: 1.7rem;
                margin: .4rem 0;
                font-weight: 600;
                opacity: .9;
                span{
                    font-weight: 400;
                }
            }
        }
    }
}
.last__price{
    span{
      color: #f64749;
      text-decoration: line-through;  
    }
}
.new__price{
   span{
        color: #256aff;
   }
}

.purchase-info{
    margin: 1.5rem 0;
}

.purchase-info input,
.btn{
        border: 1.5px solid #ddd;
        border-radius: 25px;
        text-align: center;
        padding: .45rem .8rem;
        outline: 0;
        margin-right: .2rem;
        margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.btn{
    cursor: pointer;
    color: #fff;
    &:first-of-type{
        background: #256eff;
    }
    &:last-of-type{
        background: #f64749;
    }
    &:hover{
        opacity: .9;
    }
}

@media screen and (min-width: 992px) {
    .case{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1.5rem;
        &__wrapper{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .product{
        &__imgs{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__content{
            padding-top: 0;
        }
    }
}
